In [1]:
import os 
import glob
import pandas as pd
import numpy as np
import datetime

In [2]:
complete_csv = glob.glob("json_setup/CompletionSummary/*.csv")

In [3]:
complete_dict = dict()
setup = []
comp = []
mod_time = []

for j in complete_csv:
    
    df = pd.read_csv(j)
    setup.append(j)
    comp.append(np.sum(df["status"]) == df.shape[0])
    
    t = os.stat(j).st_mtime
    dt = datetime.datetime.fromtimestamp(t)
    mod_time.append(dt)

In [4]:
complete_dict = dict(setup = setup, ok = comp, mod_time = mod_time)
cdf = pd.DataFrame(complete_dict)
cdf["basename"] = [str(os.path.basename(j)).split(".")[0] for j in cdf["setup"]]
#cdf

In [5]:
cdf["setup2"] = [j[0:4] for j in cdf["basename"]]
cdf["bs"] = [j[4:] for j in cdf["basename"]]

cdf.sort_values(["basename"], ascending = False)

,setup,ok,mod_time,basename,setup2,bs
18,json_setup/CompletionSummary/Z010B.csv,True,2018-11-22 04:21:23.415698,Z010B,Z010,B
8,json_setup/CompletionSummary/Z001S.csv,True,2018-11-24 12:10:30.062242,Z001S,Z001,S
3,json_setup/CompletionSummary/Z001B.csv,True,2018-11-26 16:46:52.408602,Z001B,Z001,B
19,json_setup/CompletionSummary/W012S.csv,True,2018-11-29 14:15:39.479899,W012S,W012,S
5,json_setup/CompletionSummary/W012B.csv,True,2018-11-29 10:28:40.826852,W012B,W012,B
4,json_setup/CompletionSummary/W011S.csv,True,2018-11-29 03:14:40.974708,W011S,W011,S
0,json_setup/CompletionSummary/W011B.csv,True,2018-11-29 08:29:49.081089,W011B,W011,B
2,json_setup/CompletionSummary/W010S.csv,True,2018-11-29 16:50:59.803950,W010S,W010,S
9,json_setup/CompletionSummary/W010B.csv,True,2018-11-22 23:13:04.094408,W010B,W010,B
7,json_setup/CompletionSummary/W009S.csv,True,2018-11-22 16:11:10.478779,W009S,W009,S
10,json_setup/CompletionSummary/W009B.csv,True,2018-11-22 08:23:22.463297,W009B,W009,B
13,json_setup/CompletionSummary/W008S.csv,True,2018-11-22 20:31:18.990342,W008S,W008,S
11,json_setup/CompletionSummary/W008B.csv,True,2018-11-22 12:18:27.267344,W008B,W008,B
20,json_setup/CompletionSummary/W007S.csv,True,2018-11-23 03:14:58.067974,W007S,W007,S
16,json_setup/CompletionSummary/W007B.csv,True,2018-11-22 04:21:23.415698,W007B,W007,B
6,json_setup/CompletionSummary/W006S.csv,True,2018-11-22 04:21:23.415698,W006S,W006,S
17,json_setup/CompletionSummary/W006B.csv,True,2018-11-22 04:21:23.415698,W006B,W006,B
1,json_setup/CompletionSummary/W005S.csv,True,2018-11-22 04:21:23.415698,W005S,W005,S
14,json_setup/CompletionSummary/W005B.csv,True,2018-11-22 04:21:23.415698,W005B,W005,B
12,json_setup/CompletionSummary/W004S.csv,True,2018-11-22 04:21:23.415698,W004S,W004,S
15,json_setup/CompletionSummary/W004B.csv,True,2018-11-22 04:21:23.415698,W004B,W004,B

In [6]:
def latest_f(v):
    return v[-1]

In [7]:
g = cdf.groupby("setup2")["ok"].agg(dict(ok = np.sum))

g["time"] = cdf.groupby("setup2")["mod_time"].apply(np.max)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

In [8]:
g.sort_values(["time"], ascending = False)

         ok                       time
setup2
W010    2.0 2018-11-29 16:50:59.803950
W012    2.0 2018-11-29 14:15:39.479899
W011    2.0 2018-11-29 08:29:49.081089
Z001    2.0 2018-11-26 16:46:52.408602
W007    2.0 2018-11-23 03:14:58.067974
W008    2.0 2018-11-22 20:31:18.990342
W009    2.0 2018-11-22 16:11:10.478779
W004    2.0 2018-11-22 04:21:23.415698
W005    2.0 2018-11-22 04:21:23.415698
W006    2.0 2018-11-22 04:21:23.415698
Z010    1.0 2018-11-22 04:21:23.415698

In [9]:
import datetime
datetime.datetime.now()

datetime.datetime(2018, 11, 30, 1, 15, 7, 250044)